<app-dynamic-dialog [modal]="modal" [modalSettings]="modalSettings">
    <form body (ngSubmit)="changePassword()">
        <div class="error-alert" *ngIf="badOldPassword">{{language.oldPasswordIsBad}}</div>
        <div class="error-alert" *ngIf="passwordIsNotEqual">{{language.passwordIsNotEqual}}</div>
        <div class="error-alert" *ngIf="notUseSamePassword">{{language.notUseSamePassword}}</div>
        <div class="col-sm-12 mb-2">
            <label id="positionLabel" class="form-label">{{language.fieldOldPasword}}</label>
            <div class="input-group">
                <input type="password" class="form-control" [(ngModel)]="changePasswordData.old" name="old">
            </div>
        </div>
        <div class="col-sm-12 mb-2">
            <label id="positionLabel" class="form-label">{{language.fieldNewPassword}}</label>
            <div class="input-group">
                <input type="password" class="form-control" [(ngModel)]="changePasswordData.new" name="new">
            </div>
        </div>
        <div class="col-sm-12 mb-2">
            <label id="positionLabel" class="form-label">{{language.fieldNewPasswordRepeat}}</label>
            <div class="input-group">
                <input type="password" class="form-control" [(ngModel)]="changePasswordData.newRepeat" name="newRepeat">
            </div>
        </div>
        <div class="form-group" style="text-align: center; margin-top: 15px;">
            <button class="btn btn-primary" type="submit">{{language.updateData}}</button>
        </div>
    </form>
</app-dynamic-dialog>