.upload-image {
    position: absolute;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5);
    left: 13vh;
    border-radius: 0px 0px 101px 100px;
    width: 172px;
    height: 87px;
    top: 12%;
}