<video #videoPreview controls autoplay playsinline></video>

<button *ngIf="!recording" class="btn btn-success" id="btn-start-recording" (click)="startRecording()"><span class="fa fa-film"></span> {{language?.promoRecordPromoVideoStart}}</button>
<button *ngIf="recording" class="btn btn-danger" id="btn-stop-recording" (click)="stopRecording()"><span class="fa fa-stop"></span> {{language?.promoRecordPromoVideoStop}}</button>
<button *ngIf="video.nativeElement.src" class="btn btn-info ml-2" (click)="saveRecordVideo()"><span class="fa fa-save"></span> {{language?.promoRecordPromoVideoSave}}</button>