<video *ngIf="!previewVideo" #videoPreview controls autoplay playsinline></video>
<webcam *ngIf="previewVideo" [height]="height" [width]="width"></webcam>
<div class="row text-center">
    <button *ngIf="!recording&&!video" class="btn btn-success width-20 mx-auto" id="btn-start-recording" (click)="startRecording()"><span class="fa fa-film"></span> {{language.promoRecordPromoVideoStart}}</button>
    <button *ngIf="recording" class="btn btn-danger width-20 mx-auto" id="btn-stop-recording" (click)="stopRecording()"><span class="fa fa-stop"></span> {{language.promoRecordPromoVideoStop}}</button>
    <button *ngIf="!recording&&video" class="btn btn-success width-20 mx-auto" id="btn-start-recording" (click)="createNew()"><span class="fa fa-file"></span> {{language.promoRecordPromoVideoCreateNew}}</button>
    <button *ngIf="!recording&&video" class="btn btn-info ml-2 width-20 mx-auto" (click)="saveRecordVideo()"><span
            class="fa fa-save"></span> {{language.promoRecordPromoVideoSave}}</button>
</div>