.img-fluid {
    width: 130px !important;
}

.feed-image {
    width: 40px !important;
}

pre {
    font-size: 13px;
    font-family: "Ubuntu", sans-serif;
    color: #888da8;
}

.removePost {
    width: 100%;
    text-align: end;
    font-size: 15px;
    color: gray;
    cursor: pointer;
}

.removePost:hover {
    color: #000;
}

.postOptions {
    position: absolute;
    right: 22px;
    z-index: 10000;
    /* border: 1px solid; */
    padding: 5px;
    box-shadow: 1px 2px 7px 3px lightgrey;
    border-radius: 2px;
    background: #fff;
    width: 110px;
}

.postOptions ul {
    list-style: none;
    padding: 0px;
    margin: 0px;
}

.postOptions ul li {
    cursor: pointer;
}

.show {
    display: block;
}

.hide {
    display: none;
}

.likeCommentButtons button {
    width: 50%;
    border: none;
    padding: 11px;
    background: none;
    font-size: 14px;
    color: #888da8;
    font-weight: bold;
}

.likeCommentButtons button:hover {
    background: #e2e2e2;
}

.noLike {
    color: #888da8;
}

.liked {
    color: #007bff !important;
}

.numberLikes {
    margin-left: 4px;
    cursor: pointer;
}

.numberLikes:hover {
    text-decoration: underline;
}

.listUserLikes {
    list-style: none;
    padding-left: 0px;
}

.listUserLikes li {
    margin-bottom: 6px;
}

.listUserLikes li img {
    width: 47px;
}

.listUserLikes li span {
    margin-left: 7px;
    cursor: pointer;
    color: #4e95e0;
}

.listUserLikes li span:hover {
    text-decoration: underline;
}

.comment-input-container {
    border-top: 1px solid #eaebec !important;
    width: 100%;
    display: flex;
}

.profile-image-comment {
    width: 10%;
}

.profile-image-comment img {
    width: 36px;
    border-radius: 50%;
}

.comment-input {
    width: 90%;
}

.comment-input input {
    border-radius: 20px;
    background: #edf2f6;
    /*resize: none;
    overflow-y: hidden;
    height: 30px !important;
    width: 100%;
    border: none;
    padding: 12px;*/
}

.hideComments {
    display: none !important;
}

.comment-container {
    width: 100%;
    padding: 2px 13px;
    background: #F2F3F5;
    border-radius: 20px;
}

.recomment-options {
    padding-left: 15px;
}

.recomment-options a {
    font-weight: 400;
    margin-right: 9px;
    color: #385898;
}