<div class="loader4 loading" *ngIf="data === undefined"></div>

<div class="py-4" *ngIf="data && language">
  <div class="container">
    <div class="row">
      <!-- Main Content -->
      <main class="col col-xl-9 order-xl-2 col-lg-12 order-lg-1 col-md-12 col-sm-12 col-12">
        <div class="box shadow-sm border rounded bg-white mb-3 osahan-share-post">
          <!-- <form class="job-search p-3 border-bottom">
            <div class="input-group">
              <input type="text" class="form-control" placeholder="Search jobs" aria-label="Search"
                aria-describedby="basic-addon2">
              <div class="input-group-append">
                <button class="btn btn-outline-secondary" type="button">
                  <i class="feather-search"></i>
                </button>
              </div>
            </div>
          </form> -->
          <ul class="nav border-bottom osahan-line-tab" id="myTab" role="tablist">
            <li class="nav-item">
              <a class="nav-link" [ngClass]="myOrAllEvent === 'all' ? 'active' : ''"
                (click)="selectMyOrAllEventShow('all')">{{language.lifeEventAllEvent}}</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" [ngClass]="myOrAllEvent === 'my' ? 'active' : ''"
                (click)="selectMyOrAllEventShow('my')">{{language.lifeEventMyEvent}}</a>
            </li>
          </ul>
          <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
              <div class="p-3 job-tags">
                <button type="button" class="btn btn-sm mr-1"
                  [ngClass]="eventType === 'all' ? 'btn-outline-primary' : 'btn-outline-secondary'"
                  (click)="selectEventTypeShow('all')">{{language.lifeEventAll}}</button>
                <button type="button" class="btn btn-sm mr-1"
                  [ngClass]="eventType === 'life' ? 'btn-outline-primary' : 'btn-outline-secondary'"
                  (click)="selectEventTypeShow('life')">{{language.lifeEventLife}}</button>
                <button type="button" class="btn btn-sm mr-1"
                  [ngClass]="eventType === 'virtual' ? 'btn-outline-primary' : 'btn-outline-secondary'"
                  (click)="selectEventTypeShow('virtual')" disabled
                  style="cursor: not-allowed;">{{language.lifeEventVirtual}}</button>
              </div>
              <div class="p-3 border-top">
                <div class="row">
                  <div class="col-md-6 mt-3" *ngFor="let item of data">
                    <div class="event-container">
                      <img src="../../../../assets/img/no-event-photo.png" class="no-photo-event">
                      <div class="event-content">
                        <p class="time">{{item.date | date: 'dd/MM/yyyy' }}, {{item.time | date: 'HH:mm'}}</p>
                        <p class="title">{{item.event}}</p>
                        <p class="location">{{item.nameOfLocation}}</p>
                        <div class="row">
                          <button class="btn btn-show-info btn-lg btn-block col-sm-9" type="button"
                            (click)="openEvent(item.eventType, item._id)"><i class="fa fa-info-circle"></i>
                            {{language.lifeEventShowInfo}}
                          </button>
                          <div class="col-sm-1"></div>
                          <button class="btn btn-show-info btn-lg btn-block col-sm-2" type="button"
                            (click)="shareEvent(item._id)"><i class="fa fa-share"></i>
                          </button>
                          <div class="eventShareOptions" [ngClass]="eventShareShowHide === item._id ? 'show' : 'hide'">
                            <ul class="connectionOptions">
                              <li (click)="recommended(item.id, item.fullname, item.email, item.phoneNumber)"><i
                                  class="fa fa-paper-plane" title="This function will be available soon!"></i> {{language.lifeEventInviteFriend}}</li>
                              <li (click)="copyLinkToClipboard(item._id)"><i class="fa fa-clone"></i>
                                {{language.lifeEventCopyLink}}</li>
                            </ul>
                          </div>
                        </div>
                        <span class="fa fa-check-circle signed-icon" *ngIf="item.eventStatus === 1" title="{{language.lifeEventDetailsRegisteredButton}}"></span>
                      </div>
                    </div>
                    <!-- <div class="border job-item mb-3">
                      <div class="d-flex align-items-center job-item-header">
                        <img src="../../../../assets/img/no-photo-cover_copy.png" class="no-photo-event">
                      </div>
                      <div class="d-flex align-items-center p-3 job-item-header">
                        <div class="overflow-hidden mr-2 col-sm-9">
                          <h6 class="font-weight-bold text-dark mb-0 text-truncate">{{item.event}}</h6>
                          <div class="text-truncate text-primary">
                            <span *ngIf="item.eventType === 1">{{language.lifeEventDetailsLifeEvent}}</span>
                          </div>
                          <div class="small text-gray-500"><i class="feather-map-pin"></i> {{item.nameOfLocation}}
                          </div>
                          <div class="small text-gray-500"><i class="fa fa-user"></i> {{item.attendees}}
                          </div>
                        </div>
                        <div class="col-sm-3" style="text-align: center;">
                          <h4 style="margin: 0px;">{{item.time | date: 'HH:mm'}}</h4>
                          <span>{{item.date | date: 'dd/MM/yyyy' }}</span>
                        </div>
                      </div>
                      <div class="d-flex align-items-center p-3 border-top border-bottom job-item-body">
                        <span class="font-weight-bold text-primary">{{item.comment}}</span>
                      </div>
                      <div class="p-3 job-item-footer">
                        <button class="btn btn-info btn-lg btn-block" type="button"
                          (click)="openEvent(item.eventType, item._id)"><i class="fa fa-info-circle"></i> Posalji poruku
                        </button>
                      </div>
                    </div> -->
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </main>
      <aside class="col col-xl-3 order-xl-1 col-lg-6 order-lg-2 col-md-6 col-sm-6 col-12">
        <div class="box shadow-sm mb-3 rounded bg-white ads-box text-center overflow-hidden">
          <div class="p-3 border-bottom">
            <h6 class="font-weight-bold text-dark">{{language.lifeEventCreateTitle}}</h6>
            <p class="mb-0 text-muted">{{language.lifeEventCreateText}}</p>
          </div>
          <div class="p-3">
            <button type="button" class="btn btn-primary pl-4 pr-4" (click)="createEventWindow = true">
              {{language.lifeEventCreateButton}}
            </button>
          </div>
        </div>
      </aside>
    </div>
  </div>
  <kendo-window *ngIf="createEventWindow" [width]="windowWidth ? windowWidth : 480"
    [height]="windowHeight ? windowHeight : 265" (close)="createEventWindow = false">
    <div class="row" style="text-align: center;">
      <div class="col-md-6 col-sm-12 event event-life">
        <img src="/assets/img/life_event.png" style="width: 72px; display: inherit; margin: auto">
        <button class="btn btn-danger"
          routerLink="/home/main/event/edit-event/life">{{language.lifeEventCreateLifeEvent}}</button>
      </div>
      <div class="col-md-6 col-sm-12 event event-virtual">
        <img src="/assets/img/live_streaming.png" style="width: 72px">
        <button class="btn btn-danger">{{language.lifeEventCreateLiveStreaming}}</button>
      </div>
    </div>
  </kendo-window>
</div>