<app-dynamic-dialog [modal]="modal" [modalSettings]="modalSettings">
    <div body class="border-0 box shadow-sm card rounded" *ngIf="!buyCompleted">
        <div class="row">
            <!-- Header -->
            <header class="card-header text-center p-3 border-0">
                <h4 class="h6 text-success mb-2">{{language.premiumTitleCard}}</h4>
                <span class="d-block">
                    <span class="display-4 text-dark font-weight-normal">
                        <span class="small">{{language.premiumCurrency}}</span>{{language.premiumPrice}}
                </span>
                <span class="d-block text-secondary">{{language.premiumPerAccount}}</span>
                </span>
                <div style="padding-top: 15px">
                    <input (click)="agreeWithTerms()" type="checkbox" kendoCheckBox style="margin-bottom: 3px;" /> {{language.premiumAcceptBuyFirst}} <a routerLink="/terms" target="_blank">{{language.premiumAcceptBuyTerms}}</a> {{language.premiumAcceptBuyEnd}}
                    <a routerLink="/privacy-policy" target="_blank">{{language.premiumAcceptBuyCookie}}</a>.
                </div>
            </header>
            <!-- End Header -->
        </div>
        <div class="row" footer>
            <button (click)="openAreYouSureDialog()" type="button" class="btn btn-block btn-light" [title]="agree ? language.premiumRequiredToAllow : ''" [ngClass]="agree ? 'not-allowed' : ''" [disabled]="agree">{{language.premiumBuy}}</button>
        </div>
    </div>

    <div body *ngIf="buyCompleted">
        <div class="row">
            <div class="done_animation">
                <div class="spinner">
                </div>
                <div class="mask">
                </div>
                <div class="filler">
                </div>
                <div class="innerCircle">
                </div>
                <div class="check">
                </div>
            </div>

            <div class="text-buy-completed">
                <h5>{{language.premiumSuccessBuyTitle}}</h5>
                <h6>{{language.premiumSuccessBuyText}}</h6>
            </div>
        </div>
        <div class="row">
            <button (click)="finishBuyRedirect()" type="button" class="btn btn-block btn-light">{{language.ok}}</button>
        </div>
    </div>
</app-dynamic-dialog>