<div>
  <!-- Main Content -->
  <main class="col col-xl-12 order-xl-2 col-lg-12 order-lg-1 col-md-12 col-sm-12 col-12">
    <div class="box shadow-sm rounded bg-white mb-3 osahan-chat">
      <h5 class="pl-3 pt-3 pr-3 border-bottom mb-0 pb-3">Messaging</h5>
      <div class="row m-0">
        <div class="border-right col-lg-5 col-xl-4 px-0">
          <div class="osahan-chat-left">
            <div class="position-relative icon-form-control p-3 border-bottom">
              <i class="feather-search position-absolute"></i>
              <!-- <input placeholder="Search messages" type="text" class="form-control"> -->
              <kendo-combobox [data]="userList" [textField]="'fullname'" [valueField]="'id'"
                (valueChange)="onValueChange($event)" (selectionChange)="selectionChangeUser($event)"
                [(ngModel)]="selectedUser" name="user" [filterable]="true" (filterChange)="searchUser($event)"
                [loading]="userListLoading" placeholder="Search...">
                <ng-template kendoComboBoxItemTemplate let-dataItem>
                  <p style="margin-top: 12px;">
                    <img style="width: 35px; margin-right: 10px;" class="rounded-circle"
                      src="../../../../../assets/img/profile_image/{{dataItem.image}}">
                    <span style="font-weight: bold">{{ dataItem.fullname }}</span>
                  </p>
                </ng-template>
              </kendo-combobox>
            </div>
            <div class="osahan-chat-list">
              <div class="p-3 d-flex align-items-center border-bottom osahan-post-header overflow-hidden item-message"
                *ngFor="let mess of allMessages"
                [ngClass]="selectedMessage === mess._id ? 'bg-light border-left border-primary' : ''"
                (click)="showMessages(mess._id, mess.image, mess.name, mess.profession)">
                <div class="dropdown-list-image mr-3"><img class="rounded-circle"
                    src="/assets/img/profile_image/{{mess.image}}" alt=""></div>
                <div class="font-weight-bold mr-1 overflow-hidden">
                  <div class="text-truncate">{{mess.name}}</div>
                  <div class="small text-truncate overflow-hidden text-black-50"><i
                      class="feather-check text-primary"></i> {{mess.message.message}} </div>
                </div>
                <span class="ml-auto mb-auto">
                  <!-- <div class="text-right text-muted pt-1 small">{{mess.message.date | date: hh:mm}}</div> -->
                </span>
              </div>
              <!-- <div class="p-3 d-flex align-items-center border-bottom osahan-post-header overflow-hidden">
                <div class="dropdown-list-image mr-3"><img class="rounded-circle" src="../../../../assets/img/p9.png"
                    alt=""></div>
                <div class="font-weight-bold mr-1 overflow-hidden">
                  <div class="text-truncate">Ashley Briggs</div>
                  <div class="small text-truncate overflow-hidden text-black-50"><i
                      class="feather-check text-primary"></i> Pellentesque semper ex diam, at tristique ipsum varius
                    sed. Pellentesque non metus ullamcorper</div>
                </div>
                <span class="ml-auto mb-auto">
                  <div class="text-right text-muted pt-1 small">00:21PM</div>
                </span>
              </div>
              <div
                class="p-3 d-flex align-items-center bg-light border-left border-primary  border-bottom osahan-post-header overflow-hidden">
                <div class="dropdown-list-image mr-3"><img class="rounded-circle" src="../../../../assets/img/p1.png"
                    alt=""></div>
                <div class="font-weight-bold mr-1 overflow-hidden">
                  <div class="text-truncate">Carl Jenkins
                  </div>
                  <div class="small text-truncate overflow-hidden text-black-50"><i class="feather-check"></i> Semper ex
                    diam, at tristique ipsum varius sed. Pellentesque non metus ullamcorper</div>
                </div>
                <span class="ml-auto mb-auto">
                  <div class="text-right text-muted pt-1 small">00:21PM</div>
                </span>
              </div> -->
            </div>
          </div>
        </div>
        <div class="col-lg-7 col-xl-8 px-0" *ngIf="selectUserForComunication&&!mobile">
          <div class="p-3 d-flex align-items-center  border-bottom osahan-post-header">
            <div class="font-weight-bold mr-1 overflow-hidden">
              <div class="text-truncate"><img class="rounded-circle"
                  src="assets/img/profile_image/{{selectUserForComunication.image}}" alt=""
                  style="width: 40px; margin-right: 9px">{{selectUserForComunication.name}}
              </div>
              <div class="small text-truncate overflow-hidden text-black-50">{{selectUserForComunication.profession}}
              </div>
            </div>
            <span class="ml-auto">
              <div class="btn-group">
                <button type="button" class="btn btn-light btn-sm rounded" data-toggle="dropdown" aria-haspopup="true"
                  aria-expanded="false">
                  <i class="feather-more-vertical"></i>
                </button>
                <div class="dropdown-menu dropdown-menu-right">
                  <button class="dropdown-item" type="button"><i class="feather-trash"></i> Delete</button>
                  <button class="dropdown-item" type="button"><i class="feather-x-circle"></i> Turn Off</button>
                </div>
              </div>
            </span>
          </div>
          <div class="osahan-chat-box p-3 border-top border-bottom bg-light hidden-xs">
            <div *ngFor="let item of messageArray">

              <div class="d-flex align-items-center osahan-post-header message-padding-top"
                *ngIf="item.sender_id !== id">
                <div class="dropdown-list-image"><img class="rounded-circle"
                    src="assets/img/profile_image/{{selectUserForComunication.image}}" alt=""></div>
                <div class="mr-1">
                  <p class="receive-message">{{item.message}}
                  </p>
                </div>
                <span class="ml-auto mb-auto">
                  <!-- <div class="text-right text-muted pt-1 small">{{item.date | date: HH:mm}}</div> -->
                </span>
              </div>

              <div class="d-flex align-items-center osahan-post-header message-padding-top"
                *ngIf="item.sender_id === id">
                <span class="mr-auto mb-auto">
                  <!-- <div class="text-right text-muted pt-1 small">{{item.date | date: HH:mm}}</div> -->
                </span>
                <div class="sender-message">
                  <p>{{item.message}}</p>
                </div>
              </div>
            </div>
          </div>
          <div class="w-100 border-top border-bottom">
            <textarea placeholder="Write a message…" [(ngModel)]="messageText" name="message"
              class="form-control border-0 p-3 shadow-none" rows="2" (keyup.enter)="sendMessage()"></textarea>
          </div>
          <!-- <div class="p-3 d-flex align-items-center">
            <div class="overflow-hidden">
              <button type="button" class="btn btn-light btn-sm rounded">
                <i class="feather-image"></i>
              </button>
              <button type="button" class="btn btn-light btn-sm rounded">
                <i class="feather-paperclip"></i>
              </button>
              <button type="button" class="btn btn-light btn-sm rounded">
                <i class="feather-camera"></i>
              </button>
            </div>
            <span class="ml-auto">
              <button type="button" class="btn btn-primary btn-sm rounded" (click)="sendMessage()">
                <i class="feather-send"></i> Send
              </button>
            </span>
          </div> -->
        </div>
      </div>
    </div>
  </main>
</div>
<kendo-window [title]="'Messages'" *ngIf="messageWindow" [height]="windowHeight ? windowHeight : 400"
  [width]="windowWidth ? windowWidth : 500" (close)="messageWindow = false">
  <div class="p-3 d-flex align-items-center  border-bottom osahan-post-header">
    <div class="font-weight-bold mr-1 overflow-hidden">
      <div class="text-truncate"><img class="rounded-circle"
          src="assets/img/profile_image/{{selectUserForComunication.image}}" alt=""
          style="width: 40px; margin-right: 9px"> {{selectUserForComunication.name}}
      </div>
      <div class="small text-truncate overflow-hidden text-black-50">{{selectUserForComunication.profession}}
      </div>
    </div>
    <span class="ml-auto">
      <div class="btn-group">
        <button type="button" class="btn btn-light btn-sm rounded" data-toggle="dropdown" aria-haspopup="true"
          aria-expanded="false">
          <i class="feather-more-vertical"></i>
        </button>
        <div class="dropdown-menu dropdown-menu-right">
          <button class="dropdown-item" type="button"><i class="feather-trash"></i> Delete</button>
          <button class="dropdown-item" type="button"><i class="feather-x-circle"></i> Turn Off</button>
        </div>
      </div>
    </span>
  </div>
  <div *ngFor="let item of messageArray">

    <div class="d-flex align-items-center osahan-post-header message-padding-top" *ngIf="item.sender_id !== id">
      <div class="dropdown-list-image"><img class="rounded-circle"
          src="assets/img/profile_image/{{selectUserForComunication.image}}" alt=""></div>
      <div class="mr-1">
        <p class="receive-message">{{item.message}}
        </p>
      </div>
      <span class="ml-auto mb-auto">
        <!-- <div class="text-right text-muted pt-1 small">{{item.date | date: HH:mm}}</div> -->
      </span>
    </div>

    <div class="d-flex align-items-center osahan-post-header message-padding-top" *ngIf="item.sender_id === id">
      <span class="mr-auto mb-auto">
        <!-- <div class="text-right text-muted pt-1 small">{{item.date | date: HH:mm}}</div> -->
      </span>
      <div class="sender-message">
        <p>{{item.message}}</p>
      </div>
    </div>
  </div>

  <div class="w-100 border-top border-bottom mobile-textarea">
    <textarea placeholder="Write a message…" [(ngModel)]="messageText" name="message"
      class="form-control border-0 p-3 shadow-none" rows="2" (keyup.enter)="sendMessage()"></textarea>
  </div>
</kendo-window>