<div id="wrapper" *ngIf="user !== undefined">
  <div id="left-side">
    <ul>
      <li class="choose" [ngClass]="step === 'welcome' ? 'active' : 'disabled'">
        <div class="icon">
          <i class="fa fa-child" [ngClass]="step === 'welcome' ? 'active' : 'disabled'"></i>
        </div>
        Welcome
      </li>
      <li class="pay" [ngClass]="step === 'choose' ? 'active' : 'disabled'">
        <div class="icon">
          <i class="fa fa-users" [ngClass]="step === 'choose' ? 'active' : 'disabled'"></i>
        </div>
        Choose
      </li>
      <li class="wrap" [ngClass]="step === 'done' ? 'active' : 'disabled'">
        <div class="icon">
          <i class="fa fa-check-circle" [ngClass]="step === 'done' ? 'active' : 'disabled'"></i>
        </div>
        Done
      </li>
    </ul>
  </div>

  <div id="border">
    <div id="line" class="{{line}}"></div>
  </div>

  <div id="right-side">
    <div id="first" *ngIf="step === 'welcome'">
      <div class="icon big">
        <i class="fa fa-child"></i>
      </div>

      <h1>Hi, {{user.lastname}} {{user.firstname}}!</h1>

      <h3>Welcome to our network!</h3>
      <p>We are glad to you a became a member of our community.</p>
      <p>We ask you to complete a few more steps.</p>
      <div class="next-previous-button">
        <button class="fxt-btn-fill" (click)="next('choose', 'two')">Next <i class="fa fa-arrow-right"></i></button>
      </div>
    </div>
    <div id="second" *ngIf="step === 'choose'">
      <div class="icon big">
        <i class="fa fa-users"></i>
      </div>

      <h1>Choose your director!</h1>

      <div class="choose-options">
        <kendo-combobox [data]="directorList" [textField]="'fullname'" [valueField]="'id'"
          (valueChange)="onValueChange($event)" [(ngModel)]="selectedDirector" [filterable]="true"
          (filterChange)="searchDirector($event)" [loading]="directorLoading">
          <ng-template kendoComboBoxItemTemplate let-dataItem>
            <p style="height: 50px !important;">
              <span style="font-weight: bold">{{ dataItem.fullname }}</span>
            </p>
          </ng-template>
        </kendo-combobox>
      </div>

      <div class="next-previous-button">
        <button class="do-not-have" (click)="doNotHave()">I don't have director</button>
        <button class="fxt-btn-fill" (click)="updateUserSID()" [disabled]="selectedDirector === null">Next <i class="fa fa-arrow-right"></i></button>
      </div>
    </div>
    <div id="third" *ngIf="step === 'done'">
      <div class="done_animation">
        <div class="spinner">
        </div>
        <div class="mask">
        </div>
        <div class="filler">
        </div>
        <div class="innerCircle">
        </div>
        <div class="check">
        </div>
      </div>

      <h1>You are done!</h1>

      <p>Please check your mail and confirm your mail address.</p>
      <p>After that you can start to make your professional connections!</p>
      <div class="next-previous-button">
        <button class="fxt-btn-fill" (click)="doneSignUp()" routerLink="/login"> Login </button>
      </div>
    </div>
  </div>
</div>