<!-- <div>
  <span [ngClass]="hover" [title]="'Recommendation member'" (mouseenter)="heartHoverIn()" (mouseleave)="heartHoverOut()"
    (click)="recommended()"></span>
</div>
 -->

<kendo-window [title]="language.recommendedTitle + ' ' + name" *ngIf="recommendedWindow"
  [height]="windowHeight ? windowHeight : 420" [width]="windowWidth ? windowWidth : 500" (close)="closeWindow()">
  <div class="container register">
    <div class="row">
      <div class="register-right">
        <ul class="nav nav-tabs nav-justified" id="myTab" role="tablist">
          <li class="member-switch">
            <a class="nav-link" [ngClass]="recommendationSelection === 'system-member' ? 'active': ''"
              (click)="recommendationSelection = 'system-member'">{{language.sendToSystemMember}}</a>
          </li>
          <li class="member-switch">
            <a class="nav-link" [ngClass]="recommendationSelection === 'mail-member' ? 'active': ''"
              (click)="recommendationSelection = 'mail-member'">{{language.sendOnMail}}</a>
          </li>
        </ul>
        <div class="tab-content" id="myTabContent">
          <div class="tab-pane fade show active" *ngIf="recommendationSelection === 'system-member'"
            style="padding-top: 25px;">

            <div class="selected-form">
              <div style="width: 100%;">
                <kendo-combobox [data]="directorList" [textField]="'fullname'" [valueField]="'id'"
                  (valueChange)="onValueChange($event)" [(ngModel)]="selectedDirector" [filterable]="true"
                  (filterChange)="searchDirector($event)" [loading]="directorLoading"
                  placeholder="{{language.chooseDirectorPlaceholder}}" style="margin-bottom: 15px;">
                  <ng-template kendoComboBoxItemTemplate let-dataItem>
                    <p style="height: 45px !important;">
                      <img style="width: 40px; margin-right: 10px;" class="rounded-circle"
                        src="../../../../../assets/img/profile_image/{{dataItem.image}}">
                      <span style="font-weight: bold">{{ dataItem.fullname }}</span>
                    </p>
                  </ng-template>
                </kendo-combobox>
                <textarea class="form-control" [(ngModel)]="recommendationData.message" rows="7" name="text"
                  placeholder="{{language.feedEnterMessage}}"></textarea>
              </div>
              <button class="btn btn-outline-primary btn-sm pl-4 pr-4" type="button" style="
    margin-top: 7px; width: auto;" (click)="sendRecommendation()"> {{language.recommendedSendRecommended}}
              </button>
            </div>
          </div>
          <div class="tab-pane fade show active" *ngIf="recommendationSelection === 'mail-member'"
            style="padding-top: 25px;">
            <form (ngSubmit)="sendRecommendationByMail()">

              <div class="form-group row">
                <div class="col-sm-6 col-xs-12">
                  <input type="string" [(ngModel)]="recommendationData.firstname" class="form-control" name="firstname"
                    placeholder="{{language.feedEnterFirstname}}" required="">
                </div>
                <div class="col-sm-6 col-xs-12">
                  <input type="string" [(ngModel)]="recommendationData.lastname" class="form-control" name="lastname"
                    placeholder="{{language.feedEnterLastname}}" required="">
                </div>
              </div>

              <div class="form-group">
                <input type="email" [(ngModel)]="recommendationData.email" class="form-control" name="email"
                  placeholder="{{language.feedEnterMail}}" required="">
              </div>

              <textarea class="form-control" [(ngModel)]="recommendationData.message" rows="4" name="text"
                placeholder="{{language.feedEnterMessage}}"></textarea>

              <div class="p-3" style="text-align: center;">
                <button type="submit" class="btn btn-outline-primary btn-sm pl-4 pr-4">
                  {{language.recommendedSendRecommended}} </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

  </div>
</kendo-window>
<kendo-window [title]="language.recommendedMailFormTitle" *ngIf="contactFormWindow"
  [height]="windowHeight ? windowHeight : 380" [width]="windowWidth ? windowWidth : 450"
  (close)="contactFormWindow = false">
  <form (ngSubmit)="sendRecommendationByMail()" style="padding-top: 27px;">

    <div class="form-group row">
      <div class="col-sm-6 col-xs-12">
        <input type="string" [(ngModel)]="recommendationData.firstname" class="form-control" name="firstname"
          placeholder="{{language.feedEnterFirstname}}" required="">
      </div>
      <div class="col-sm-6 col-xs-12">
        <input type="string" [(ngModel)]="recommendationData.lastname" class="form-control" name="lastname"
          placeholder="{{language.feedEnterLastname}}" required="">
      </div>
    </div>

    <div class="form-group">
      <input type="email" [(ngModel)]="recommendationData.email" class="form-control" name="email"
        placeholder="{{language.feedEnterMail}}" required="">
    </div>

    <textarea class="form-control" [(ngModel)]="recommendationData.message" rows="4" name="text"
      placeholder="{{language.feedEnterMessage}}"></textarea>

    <div class="p-3" style="text-align: center;">
      <button type="submit" class="btn btn-outline-primary btn-sm pl-4 pr-4">
        {{language.recommendedSendRecommended}} </button>
    </div>
  </form>
</kendo-window>