.k-input {
    color: #fff !important;
    padding-left: 5px !important;
}

.k-combobox {
    background: #fff !important;
    color: #084f70 !important;
    border-radius: 5px;
    padding-left: 5px !important;
    width: 250px !important;
}

.k-dropdown-wrap {
    border: none !important;
}
