<body *ngIf="user !== undefined&&language !== undefined">
  <!-- Navigation -->
  <nav class="navbar navbar-expand navbar-dark bg-dark osahan-nav-top p-0">
    <div class="container">
      <a class="navbar-brand mr-2" routerLink="/home/main/feed"><img src="../../../assets/img/logo_white.png" alt="">
      </a>
      <form class="d-none d-sm-inline-block form-inline mr-auto my-2 my-md-0 mw-100 navbar-search">
        <div class="input-group">
          <kendo-combobox [data]="userList" [textField]="'fullname'" [valueField]="'id'"
            (valueChange)="onValueChange($event)" (selectionChange)="selectionChangeUser($event)"
            [(ngModel)]="selectedUser" name="user" [filterable]="true" (filterChange)="searchUser($event)"
            [loading]="userListLoading" placeholder="{{language.feedSearch}}">
            <ng-template kendoComboBoxItemTemplate let-dataItem>
              <p style="margin-top: 12px;">
                <img style="width: 35px; margin-right: 10px;" class="rounded-circle"
                  src="../../../../../assets/img/profile_image/{{dataItem.image}}">
                <span style="font-weight: bold">{{ dataItem.fullname }}</span>
              </p>
            </ng-template>
          </kendo-combobox>
        </div>
      </form>
      <ul class="navbar-nav ml-auto d-flex align-items-center">
        <!-- Nav Item - Search Dropdown (Visible Only XS) -->
        <li class="nav-item dropdown no-arrow d-sm-none">
          <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            <i class="feather-search mr-2"></i>
          </a>
          <!-- Dropdown - Messages -->
          <div class="dropdown-menu dropdown-menu-right p-3 shadow-sm animated--grow-in"
            aria-labelledby="searchDropdown">
            <form class="form-inline mr-auto w-100 navbar-search">
              <div class="input-group">
                <input type="text" class="form-control border-0 shadow-none" placeholder="{{language.feedSearch}}"
                  aria-label="Search" aria-describedby="basic-addon2">
                <div class="input-group-append">
                  <button class="btn" type="button">
                    <i class="feather-search"></i>
                  </button>
                </div>
              </div>
            </form>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/home/main/feed" (click)="showFeedItem=false"><i
              class="fa fa-home mr-2"></i><span class="d-none d-lg-inline">{{language.feedNavigationMenu}}</span></a>
        </li>
        <li class="nav-item">
          <a *ngIf="superadminInd" class="nav-link" routerLink="/dashboard"><i class="fa fa-cogs mr-2"></i><span
              class="d-none d-lg-inline">{{language.feedDashboard}}</span></a>
        </li>
        <!-- Nav Item - User Information -->
        <li class="nav-item dropdown no-arrow mx-1 osahan-list-dropdown">
          <a (click)="showMessageCenter()" class="nav-link dropdown-toggle">
            <i class="feather-message-square"></i>
            <!-- Counter - Alerts -->
            <span class="badge badge-danger badge-counter" *ngIf="newMessageCounter > 0">{{newMessageCounter}}</span>
          </a>
          <!-- Dropdown - Alerts -->
          <div class="dropdown-list dropdown-menu dropdown-menu-right shadow-sm {{messageCenter}}">
            <h6 class="dropdown-header">
              {{language.messageMessageCenter}}
            </h6>
            <div class="message-notification-container">

              <a class="dropdown-item d-flex align-items-center" *ngFor="let mess of allMessages; let i = index"
                (click)="openItemMessage(mess, i)">
                <div class="dropdown-list-image mr-3">
                  <img class="rounded-circle" src="/assets/img/profile_image/{{mess.image}}" alt="">
                  <div class="status-indicator bg-success"></div>
                </div>
                <div class="font-weight-bold overflow-hidden">
                  <div class="text-truncate">{{mess.message.message}}
                  </div>
                  <div class="small text-gray-500" [ngClass]="mess.not_seen === id ? 'message-bold' : ''">{{mess.name}}
                  </div>
                </div>
              </a>
            </div>
            <a class="dropdown-item text-center small text-gray-500" routerLink="/home/main/message"
              (click)="messageCenter = ''">{{language.messageReadMoreMessage}}</a>
          </div>
        </li>
        <li class="nav-item dropdown no-arrow ml-1 osahan-profile-dropdown {{dropDownProfile}}"
          (click)="dropDownProfile === '' ? dropDownProfile = 'show' : dropDownProfile = ''">
          <a class="nav-link dropdown-toggle pr-0" role="button" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false">
            <img class="img-profile rounded-circle" src="assets/img/profile_image/{{user.image}}">
          </a>
          <!-- Dropdown - User Information -->
          <div class="dropdown-menu dropdown-menu-right shadow-sm {{dropDownProfile}}">
            <div class="p-3 d-flex align-items-center">
              <div class="dropdown-list-image mr-3">
                <img class="rounded-circle" src="assets/img/profile_image/{{user.image}}" alt="">
                <div class="status-indicator bg-success"></div>
              </div>
              <div class="font-weight-bold">
                <div class="text-truncate">{{user.fullname}}</div>
                <div class="small text-gray-500"></div>
              </div>
            </div>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" (click)="openProfileWithoutSHA1()"><i class="feather-edit mr-1"></i>
              {{language.feedMyAccount}}</a>
            <a class="dropdown-item" routerLink="/home/main/edit-profile"><i class="feather-user mr-1"></i>
              {{language.feedEdit}}
              {{language.feedProfile}}</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" (click)="logout()"><i class="feather-log-out mr-1"></i> {{language.feedLogout}}</a>
          </div>
        </li>
      </ul>
    </div>
  </nav>
  <div>
    <div>
      <router-outlet></router-outlet>
    </div>
  </div>
</body>