<div class="container">
    <div class="row">

        <div class="col-sm-12">
            <div class="p-4 content-view">
                <button class="btn btn-info" (click)="openModal()">Open modal</button>
            </div>
            <div class="p-4 content-view">
                <a _ngcontent-qvq-c3="" class="dropdown-item d-flex align-items-center">
                    <div _ngcontent-qvq-c3="" class="dropdown-list-image mr-3">
                        <img _ngcontent-qvq-c3="" alt="" class="rounded-circle" src="../../../assets/img/streched_image.png">
                        <div _ngcontent-qvq-c3="" class="status-indicator bg-success"></div>
                    </div>
                    <div _ngcontent-qvq-c3="" class="font-weight-bold overflow-hidden">
                        <div _ngcontent-qvq-c3="" class="text-truncate">Einführung Tuina (chin. 推拏, 推拿, tuīná), Anmo ist eine selbstständige, chinesische manuelle Medizin und hat innerhalb des Konzeptes der Traditionellen Chinesischen Medizin (TCM) einen hohen Stellenwert. Es gibt auch die Schreibweise
                            Tui-Na oder Tui Na. Das System der Tuina-Therapie schließt die meisten westlichen Therapien, wie die Chiropraktik, die Akupressur, verschiedene Massagetechniken und die manuelle Therapie, ein. Tuina beinhaltet die Therapieform
                            Tuina-Therapie und die Wellness-Tuina, eine Behandlung zur Gesunderhaltung. Tuina setzt sich zusammen aus den chinesischen Wörtern tui (schieben, drücken) und na (greifen, ziehen), weil diese manuellen Techniken bei der Behandlung
                            angewandt werden. Die Tuina-Therapie ist eine der wirksamsten manualtherapeutischen Massageformen. Sie basiert auf der Meridianlehre der Traditionellen Chinesischen Medizin (TCM), wo sie in der Therapie einen hohen Stellenwert
                            einnimmt.#
                        </div>
                        <div _ngcontent-qvq-c3="" class="small text-gray-500">Jeff Perner </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>