<kendo-dialog title="{{title ? title : ''}}" *ngIf="ind&&language" (close)="ind = false" [width]="windowWidth ? windowWidth : 450"
  [height]="windowHeight ? windowHeight : 250">
  <div class="modal-body text-center">
    <img src="../../../../../assets/img/sent.png" alt="" width="50" height="46">
    <h3>{{text ? text : language.areYouSure}}</h3>
  </div>
  <kendo-dialog-actions>
    <button kendoButton (click)="answer(false)">{{language.no}}</button>
    <button kendoButton (click)="answer(true)" primary="true">{{language.yes}}</button>
  </kendo-dialog-actions>
</kendo-dialog>