<app-dynamic-dialog [modal]="modal" [modalSettings]="modalSettings">
    <div class="" body>
        <div class="loader4 loading promoVideoLoader" *ngIf="loadVideo"></div>
        <div *ngIf="video">
            <div class="videogular-container">
                <vg-player>
                    <video [vgMedia]="media" #media id="singleVideo" preload="true" autoplay="true" controls>
                        <source src="./assets/img/promo_video/{{video}}" type="video/mp4">
                    </video>
                </vg-player>
            </div>

            <!-- <mat-video src="./assets/img/promo_video/{{video}}" [autoplay]="true" [preload]="true"></mat-video> -->

            <div *ngIf="owner" class="row">
                <div class="col-6">
                    <label for="upload-promo" class="btn btn-outline-danger btn-sm pl-4 pr-4 mt-4">
                        <span class="fa fa-upload"></span> {{language.promoChangePromoVideo}}
                    </label>
                    <input id="upload-promo" type="file" (change)="fileChange($event)" ng2FileSelect [uploader]="uploaderPromo" />
                </div>
                <div class="col-6">
                    <button class="btn btn-light pl-4 pr-4 mt-4" (click)="openRecordCameraDialog()"><i
                            class="fa fa-camera"></i>
                        {{language.promoRecordPromoVideo}}</button>
                </div>
            </div>
        </div>
        <div *ngIf="video === null || video === undefined" class="no-have-promo">
            <span class="fa fa-exclamation-circle notification-info"></span>
            <p>{{language.promoNoHavePromoVideo}}</p>
            <div *ngIf="owner" class="row">
                <div class="col-6">
                    <label for="upload-promo" class="btn btn-outline-danger btn-sm pl-4 pr-4">
                        <span class="fa fa-upload"></span> {{language.promoUploadPromoVideo}}
                    </label>
                    <input id="upload-promo" type="file" (change)="fileChange($event)" ng2FileSelect [uploader]="uploaderPromo" />
                </div>
                <div class="col-6">
                    <button class="btn btn-light" (click)="openRecordCameraDialog()"><i class="fa fa-camera"></i>
                        {{language.promoRecordPromoVideo}}</button>
                </div>
            </div>
        </div>
    </div>

    <div class="row w-100" footer *ngIf="video">
        <div class="mx-auto">
            <label for="upload-promo" class="cover-photo-update">
                <i class="fa fa-camera-retro"></i> Change
            </label>
            <input id="upload-promo" type="file" (change)="fileChange($event)" ng2FileSelect [uploader]="uploaderPromo" />
        </div>
    </div>
</app-dynamic-dialog>