.main {
    height: 100%;
    display: flex;
}

.main-left {
    width: 100%;
    display: flex;
    flex-direction: column;
}

@media(min-width: 1180px) {
    .video-stream {
        border: 3px solid #656060;
        // width: 100%;
        padding: 0px;
        flex: 0 1 auto;
        height: 275px;
        width: auto;
    }
}

@media(min-width: 768px) and (max-width: 1180px) {
    .video-stream {
        height: 175px;
    }
}

@media(max-width: 767px) {
    .video-stream {
        border: 3px solid #656060;
        // width: 100%;
        padding: 0px;
        flex: 0 1 auto;
        height: 210px;
        width: auto;
    }
}

.main-right {
    flex: 0.2;
}

.main-videos {
    // flex-grow: 1;
    background-color: black;
    // display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
    height: 100%;
    overflow: auto;
}

.main-controls {
    background-color: #1c1e20;
}

.main-right {
    background-color: #242324;
    border-left: 1px solid #3d3d42;
}

.main-controls {
    color: #d2d2d2;
    display: flex;
    justify-content: space-between;
    padding: 5px;
    overflow: auto;
}

.main-controls-block {
    display: flex;
}

.main-controls-button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 12px 10px;
    min-width: 42px;
    cursor: pointer;
    margin-right: 10px;
}

.main-controls-button:hover {
    background-color: #ffffff;
    border-radius: 3px;
    color: #000;
}

.main-controls-button i {
    font-size: 24px;
}

.main-right {
    display: flex;
    flex-direction: column;
}

.main-header {
    padding-top: 5px;
    color: #f5f5f5;
    text-align: center;
}

.main-chat_window {
    flex-grow: 1;
    overflow-y: auto;
}

.messages {
    color: white;
    list-style: none;
}

.main-message_container {
    padding: 22px 12px;
    display: flex;
}

.main-message_container input {
    flex-grow: 1;
    background-color: transparent;
    border: none;
    color: #f5f5f5;
}

.leave_meeting {
    color: #eb534b;
}

.leave_meeting_container {
    padding: 19px 13px;
    cursor: pointer;
}

.leave_meeting_container:hover {
    background: #fbfbfb;
    border-radius: 2px;
}

.unmute,
.stop {
    color: #cc3b33;
}

.item-message {
    width: 90%;
    overflow-wrap: break-word;
}

.item-name {
    margin-right: 10px;
    color: #a09e9e;
    font-weight: bolder;
}

.turn-off {
    background: red;
    border-radius: 3px;
}

#video-grid {
    width: auto;
    text-align: center;
}

