<div class="loader4 loading" *ngIf="data === undefined"></div>

<div *ngIf="data && language">
    <div class="profile-cover text-center" style="position: relative;">
        <button class="btn btn-danger back-to-event" routerLink="/home/main/event/all"><span
                class="fa fa-arrow-left"></span> {{language.lifeEventDetailsBackToEvent}}</button>
        <img loading="lazy" class="img-fluid event-cover" src="./assets/img/events_cover.jpg" alt="">
    </div>
    <div class="bg-white shadow-sm border-bottom">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="d-flex align-items-center py-3">
                        <div class="profile-left">
                            <h5 class="font-weight-bold text-dark mb-1 mt-0">{{data.nameOfEvent}}</h5>
                            <p class="mb-0 text-muted"> <i class="feather-map-pin"></i> {{data.location}} -- {{data.date | date: 'dd/MM/yyyy'}} / {{data.time | date: 'HH:mm'}}</p>
                        </div>
                        <div class="profile-right ml-auto" *ngIf="eventStatus == 0">
                            <button type="button" class="btn btn-gold mr-1" (click)="openReminderFriendsDialog()">
                                &nbsp; <span class="fa fa-bell-o"></span>
                                {{language.reminderFriendsForEventSendReminder}} &nbsp;
                            </button>
                            <button type="button" class="btn btn-primary mr-1" (click)="editEvent()">
                                &nbsp; <span class="fa fa-pencil-square-o"></span> {{language.lifeEventDetailsEdit}}
                                &nbsp; </button>
                            <button type="button" class="btn btn-danger" (click)="openAreYouSureDialog()"> &nbsp; <span
                                    class="fa fa-trash"></span> Delete &nbsp;
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="py-4">
        <div class="container">
            <div class="row">
                <!-- Main Content -->
                <main class="col col-xl-6 order-xl-2 col-lg-12 order-lg-1 col-md-12 col-sm-12 col-12">
                    <div class="box shadow-sm border rounded bg-white mb-3">
                        <div class="box-title border-bottom p-3">
                            <h6 class="m-0 font-weight-bold">{{language.lifeEventDetailsAboutEvent}}</h6>
                        </div>
                        <div class="box-body p-3">
                            <p>
                                {{data.comment}}
                            </p>
                        </div>
                    </div>
                    <div class="box shadow-sm border rounded bg-white mb-3">
                        <div class="box-title border-bottom p-3">
                            <h6 class="m-0 font-weight-bold">{{language.lifeEventDetailsLocation}}</h6>
                        </div>
                        <div class="box-body">
                            <table class="table table-borderless mb-0">
                                <tbody>
                                    <tr class="border-bottom">
                                        <th class="p-3">{{language.lifeEventDetailsNameOfLocation}}</th>
                                        <td class="p-3">{{data.nameOfLocation}}
                                        </td>
                                    </tr>
                                    <tr class="border-bottom">
                                        <th class="p-3">{{language.lifeEventDetailsLocation}}</th>
                                        <td class="p-3">{{data.location}}</td>
                                    </tr>
                                    <tr class="border-bottom">
                                        <th class="p-3">{{language.lifeEventDetailsZip}}</th>
                                        <td class="p-3">{{data.zip}}
                                        </td>
                                    </tr>
                                    <tr class="border-bottom">
                                        <th class="p-3">{{language.lifeEventDetailsStreat}}</th>
                                        <td class="p-3">{{data.street}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="box shadow-sm border rounded bg-white mb-3">
                        <div class="box-title border-bottom p-3">
                            <h6 class="m-0 font-weight-bold">{{language.virtualEventSpeakersTitle}}</h6>
                        </div>
                        <div class="box-body row">
                            <div class="col-md-4 col-sm-6 col-xs-6" *ngFor="let item of data.speakers">
                                <div class="our-team">
                                    <div class="pic">
                                        <img loading="lazy" src="./assets/img/profile_image/{{item.image}}" alt="team member" class="img-responsive">
                                    </div>
                                    <div class="content">
                                        <ul class="social">
                                            <li>
                                                <a (click)="openProfile(item.id)" class="fa fa-user"></a>
                                            </li>
                                        </ul>
                                        <h3 class="title">{{item.fullname}}</h3>
                                        <span class="post" *ngIf="item.profession">{{item.profession}}</span>
                                        <span class="post" *ngIf="!item.profession">{{language.feedNoProfessionInfo}}</span>
                                    </div>
                                </div>
                            </div>
                            <div *ngIf="data.speakers&&data.speakers.length === 0" class="no-speakers">
                                <span class="fa fa-microphone-slash"></span>
                                <h5>{{language.virtualEventNoSpeakers}}</h5>
                            </div>
                        </div>
                    </div>
                    <div class="box shadow-sm border rounded bg-white mb-3">
                        <div class="box-title border-bottom p-3">
                            <h6 class="m-0 font-weight-bold">{{language.virtualEventListenersTitle}}</h6>
                        </div>
                        <div class="box-body row">
                            <div class="col-md-4 col-sm-6 col-xs-6" *ngFor="let item of data.listeners">
                                <div class="our-team">
                                    <div class="pic">
                                        <img loading="lazy" src="./assets/img/profile_image/{{item.image}}" alt="team member" class="img-responsive">
                                    </div>
                                    <div class="content">
                                        <ul class="social">
                                            <li>
                                                <a (click)="openProfile(item.id)" class="fa fa-user"></a>
                                            </li>
                                        </ul>
                                        <h3 class="title">{{item.fullname}}</h3>
                                        <span class="post" *ngIf="item.profession">{{item.profession}}</span>
                                        <span class="post" *ngIf="!item.profession">{{language.feedNoProfessionInfo}}</span>
                                    </div>
                                </div>
                            </div>
                            <div *ngIf="data.listeners&&data.listeners.length === 0" class="no-speakers">
                                <span class="fa fa-headphones"></span>
                                <h5>{{language.virtualEventNoListeners}}</h5>
                            </div>
                        </div>
                    </div>
                </main>
                <aside class="col col-xl-3 order-xl-1 col-lg-6 order-lg-2 col-md-6 col-sm-6 col-12">
                    <div class="box mb-3 shadow-sm border rounded bg-white profile-box">
                        <div class="box-title border-bottom p-3">
                            <h6 class="m-0 font-weight-bold">{{language.lifeEventDetailsBasicInfo}}</h6>
                        </div>
                        <div class="p-3 basic-info">
                            <div class="d-flex align-items-top mb-2">
                                <p class="mb-0 text-muted"><span class="fa fa-calendar-check-o"></span> {{language.lifeEventDetailsDate}}
                                </p>
                                <p class="font-weight-bold text-dark mb-0 mt-0 ml-auto">{{data.date | date: 'dd/MM/yyyy'}}
                                </p>
                            </div>
                            <div class="d-flex align-items-top mb-2">
                                <p class="mb-0 text-muted"><span class="fa fa-clock-o"></span> {{language.lifeEventDetailsTime}}
                                </p>
                                <p class="font-weight-bold text-dark mb-0 mt-0 ml-auto">{{data.time | date: 'HH:mm'}}
                                </p>
                            </div>
                            <div class="d-flex align-items-top mb-2">
                                <p class="mb-0 text-muted"><span class="fa fa-users"></span> {{language.lifeEventDetailsMaximumNumber}}
                                </p>
                                <p class="font-weight-bold text-dark mb-0 mt-0 ml-auto">{{data.attendees}}</p>
                            </div>
                            <div class="d-flex align-items-top mb-2" *ngIf="data.price">
                                <p class="mb-0 text-muted"><span class="fa fa-money" style="color: green !important;"></span> {{language.eventChargeablePrice}}
                                </p>
                                <p class="font-weight-bold text-dark mb-0 mt-0 ml-auto">{{data.price}}€</p>
                            </div>
                        </div>
                    </div>

                    <div class="box mb-3 shadow-sm border rounded bg-white profile-box">
                        <div class="box-title border-bottom p-3">
                            <h6 class="m-0 font-weight-bold">{{language.lifeEventDetailsOrganizer}}</h6>
                        </div>
                        <div class="p-3 basic-info row" *ngIf="organizator">
                            <div _ngcontent-dvd-c7="" class="dropdown-list-image col-3"><img loading="lazy" alt="Responsive image" class="img-fluid rounded-circle" src="/assets/img/profile_image/{{organizator.image}}"></div>
                            <div class="font-weight-bold col-9">
                                <div class="text-truncate"><a>{{organizator.fullname}}</a></div>
                                <div class="small text-gray-500">{{organizator.profession}}</div>
                                <div class="small text-gray-500" *ngIf="!data.profession">
                                    {{language.feedNoProfessionInfo}}</div>
                            </div>
                        </div>
                        <div class="overflow-hidden border-top text-center"><a class="font-weight-bold p-3 d-block" routerLink="/home/main/profile/{{data.id_user}}">
                                {{language.lifeEventDetailsShowProfil}} </a>
                        </div>
                    </div>
                </aside>
                <aside class="col col-xl-3 order-xl-3 col-lg-6 order-lg-3 col-md-6 col-sm-6 col-12">
                    <button type="button" class="btn btn-lg btn-block btn-default mb-3 owner-button" *ngIf="eventStatus == 0" disabled> <i class="fa fa-check"></i>
                        {{language.lifeEventDetailsOwner}} </button>
                    <button type="button" class="btn btn-lg btn-block btn-sign-in mb-3" *ngIf="eventStatus == 2&&freeSpace" (click)="signIn()"> <i class="fa fa-check"></i>
                        {{language.lifeEventDetailsSignInButton}}
                    </button>
                    <button type="button" class="btn btn-lg btn-block btn-signed mb-3" *ngIf="eventStatus == 1" (click)="signIn()">
                        <i class="fa fa-check-circle-o"></i> {{language.lifeEventDetailsRegisteredButton}}
                    </button>
                    <button type="button" class="btn btn-lg btn-block btn-sign-in-virtual mb-3" *ngIf="registerLikeSpeaker === 1" (click)="signInVirtualParticipant('speaker')">
                        <i class="fa fa-check"></i> {{language.signInLikeVirtualSpeaker}}
                    </button>
                    <button type="button" class="btn btn-lg btn-block btn-signed-virtual mb-3" *ngIf="registerLikeSpeaker === 2">
                        <i class="fa fa-check-circle-o"></i> {{language.signedInLikeVirtualSpeaker}}
                    </button>
                    <button type="button" class="btn btn-lg btn-block btn-sign-in-virtual-listener mb-3" *ngIf="registerLikeListener === 1" (click)="signInVirtualParticipant('listener')">
                        <i class="fa fa-check"></i> {{language.signInLikeVirtualListener}}
                    </button>
                    <button type="button" class="btn btn-lg btn-block btn-signed-virtual-listener mb-3" *ngIf="registerLikeListener === 2">
                        <i class="fa fa-check-circle-o"></i> {{language.signedInLikeVirtualListener}}
                    </button>
                    <div class="box shadow-sm border rounded bg-white mb-3">
                        <div class="box-title border-bottom p-3">
                            <h6 class="m-0 font-weight-bold">{{language.lifeEventDetailsGoingWithFriends}}</h6>
                        </div>
                        <div class="row border-bottom pt-3 pb-3">
                            <div class="col-6 number-container" (click)="showGoingList()">
                                <div class="show-number-going">
                                    <h5 class="number-of-going">{{data.signIn.length}}</h5>
                                    <h6>{{language.lifeEventDetailsMemberGoing}}</h6>
                                </div>
                            </div>
                            <div class="col-6 number-container">
                                <h5 class="number-of-going">{{numberOfFreeSpace}}</h5>
                                <h6>{{language.lifeEventDetailsFreeSpace}}</h6>
                            </div>
                        </div>
                        <div class="box-title p-3" style="text-align: center;">
                            <button class="btn btn-outline-primary btn-sm pl-4 pr-4" type="button" (click)="openInviteFriendsDialog()"> <span class="fa fa-envelope"></span>
                                {{language.lifeEventInviteFriend}} </button>
                        </div>
                    </div>

                    <div class="box shadow-sm border rounded bg-white mb-3" *ngIf="data.online">
                        <div class="box-title border-bottom p-3">
                            <h6 class="m-0 font-weight-bold">{{language.lifeEventEditLocationOnlineTitle}}</h6>
                        </div>
                        <div class="row border-bottom pt-3 pb-3">
                            <div class="col-6 number-container" (click)="showSpeakersConfirm()">
                                <div class="show-number-going">
                                    <div>
                                        <h5 class="number-of-going" title="{{language.lifeEventEditLocationVirtualSpeakersTotal}}" style="display: inline; color: #1a5ca0;">
                                            <span *ngIf="!data.numberOfSpeakers" class="fa fa-link"></span>
                                            <span *ngIf="data.numberOfSpeakers">{{data.numberOfSpeakers}}</span>
                                        </h5> /
                                        <h5 class="number-of-going" title="{{language.lifeEventEditLocationVirtualSpeakersGoing}}" style="display: inline; color: green;">
                                            {{data.speakersConfirm.length}}</h5>
                                    </div>
                                    <h6>{{language.lifeEventEditLocationVirtualSpeakers}}</h6>
                                </div>
                            </div>
                            <div class="col-6 number-container" (click)="showListenersConfirm()">
                                <div>
                                    <h5 class="number-of-going" title="{{language.lifeEventEditLocationVirtualListenersTotal}}" style="display: inline; color: #1a5ca0;">
                                        <span *ngIf="!data.numberOfListeners" class="fa fa-link"></span>
                                        <span *ngIf="data.numberOfListeners">{{data.numberOfListeners}}</span>
                                    </h5> /
                                    <h5 class="number-of-going" title="{{language.lifeEventEditLocationVirtualListenersGoing}}" style="display: inline; color: green;">
                                        {{data.listenersConfirm.length}}</h5>
                                </div>
                                <h6>{{language.lifeEventEditLocationVirtualListeners}}</h6>
                            </div>
                        </div>
                        <div class="box-title p-3" style="text-align: center;">
                            <button class="btn btn-outline-primary btn-sm pl-4 pr-4" type="button" (click)="openInviteVirtualParticipantDialog()"> <span class="fa fa-envelope"></span>
                                {{language.lifeEventInviteFriend}} </button>
                        </div>
                    </div>
                </aside>
            </div>
        </div>
    </div>
</div>