.event-cover {
    height: 300px;
    width: 100%;
}

.basic-info span {
    color: #0b6794;
    font-weight: bold;
}

.btn-sign-in:hover {
    color: #fff;
    background-color: #64d140;
    border-color: #64d140;
}

.btn-signed {
    color: #fff;
    background-color: #64d140;
    border-color: #64d140;
}

.btn-sign-in {
    color: #64d140;
    border-color: #64d140;
}

.no-free-space {
    color: red;
    font-weight: bold;
}

.owner-button {
    color: green;
    font-weight: bold;
}