<div class="modal-header">
    <h5 *ngIf="title" class="modal-title">{{title}}</h5>
    <button type="button" class="close" aria-label="Close" (click)="dismiss()">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body justify-content-center text-center">
    <img *ngIf="imageUrl" src="{{imageUrl}}" [style]="imageStyle" />
    <div *ngIf="text" class="h3">{{text}}</div>
    <ng-content select="[body]"></ng-content>
</div>
<div class="modal-footer" *ngIf="primaryButtonLabel || secondaryButtonLabel">
    <div *ngIf="secondaryButtonLabel" class="btn btn-outline-secondary m-auto float-left w-25" (click)="cancel()">
        {{secondaryButtonLabel}}</div>
    <div *ngIf="primaryButtonLabel" class="btn btn-outline-primary m-auto float-right w-25" (click)="apply()">
        {{primaryButtonLabel}}</div>

    <ng-content select="[footer]"></ng-content>
</div>