.cover-photo-update {
    position: absolute;
    right: 0px;
    padding: 10px;
    background: #0B6794;
    color: #FFF;
    border: 1px solid;
    margin: 7px;
    cursor: pointer;
}

.cover-photo-update:hover {
    color: #FFF;
}
 .blur {
    filter: blur(2px);
 }

 image-cropper {
    height: 260px;
  }

  .image-cover {
      width: 1500px;
      height: 300px;
  }

  .no-data-education {
      color: #0B6794;
  }

  .no-data-education span {
      font-size: 50px;
  }

  .no-data-experience {
    color: #0B6794;
  }

  .no-data-experience span {
    font-size: 50px;
}

.no-info-looking-offer {
    color: #0B6794;
}

.no-info-looking-offer span {
    font-size: 25px;
}