.cover-photo-update {
    position: absolute;
    right: 0px;
    padding: 10px;
    background: #0B6794;
    color: #FFF;
    border: 1px solid;
    margin: 7px;
}

.cover-photo-update:hover {
    color: #FFF;
}