.not-allowed {
    cursor: not-allowed !important;
}

/* done animation */

.done_animation {
	width: 102px;
	height: 102px;
	border: 1px solid transparent;
	margin: 0 auto;
	border-radius: 50%;
	position: relative;
	background-color: #ccc;
	overflow: hidden;
}
.innerCircle {
	position: absolute;
	top: 4px;
	left: 4px;
	margin: auto auto;
	background-color: white;
	width: 92px;
	height: 92px;
	display: block;
	border-radius: 50%;
}
.mask {
	content: " ";
	position: absolute;
	right: 0px;
	height: 100px;
	width: 50px;
	border-radius: 0 49px 49px 0px;
	background-color: #ccc;
	transition-delay: 0.3s;
}
.spinner {
	content: " ";
	position: absolute;
	top: 1px;
	right: 1px;
	border-radius: 0 49px 49px 0px;
	height: 98px;
	width: 49px;
	background-color: #04ce6c;
	transform-origin: left center;
}
.filler {
	content: " ";
	position: absolute;
	opacity: 0;
	top: 1px;
	left: 1px;
	border-radius: 49px 0px 0px 49px;
	height: 98px;
	width: 49px;
	background-color: #04ce6c;
	transform-origin: left center;
	transition-delay: 0.3s;
}

.check {
	opacity: 0;
	width: 20px;
	height: 40px;
	position: absolute;
	right: 70px;
	bottom: 50px;
	border-bottom: 4px solid #04ce6c;
	border-left: 4px solid #04ce6c;
	transform: scaleX(-1) rotate(-45deg);
	transform-origin: right bottom;
}
.done_animation .check {
	animation: check 0.6s cubic-bezier(0.87, -0.41, 0.19, 1.44) 0.6s forwards;
}
.done_animation .spinner {
	animation: rotate 0.6s linear;
}
.done_animation .mask {
	opacity: 0;
}
.done_animation .filler {
	opacity: 1;
}
@keyframes rotate {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(-360deg);
	}
}
@keyframes check {
	0% {
		opacity: 1;
		width: 0px;
		height: 0px;
	}
	50% {
		width: 20px;
		height: 0px;
	}
	100% {
		opacity: 1;
		height: 40px;
	}
}
 /*done end*/

.text-buy-completed {
    text-align: center;
    padding-top: 15px;
}
