
<footer *ngIf="language !== undefined" class="footer">
  <div class="copyright">
    <span>{{language.footerCopyright}}</span>
  </div>
  <div class="terms-privacy">
    <a routerLink="/home/main/about-us" style="border-right: 1px solid; color: #FFF;">
      {{language.aboutFooter}}
    </a>
    <a routerLink="/terms" target="_blank" style="margin-left: 2px; border-right: 1px solid; color: #FFF;">
      {{language.termsHeaderTitle}}
    </a>
    <a routerLink="/privacy-policy" target="_blank"
      style="margin-left: 2px; color: #FFF;border-right: 1px solid; color: #FFF;">
      {{language.privacyHeaderTitle}}
    </a>
    <a routerLink="/impressum" target="_blank" style="margin-left: 2px; color: #FFF;">
      {{language.impressumHeaderTitle}}
    </a>
  </div>
</footer>