<!-- <div class="spinner-box">
  <div class="circle-border">
    <div class="circle-core"></div>
  </div>  
</div> -->
<!-- <div style="height: 100%;">
  <div class="loader4 loading" *ngIf="data === undefined || gridConfiguration === undefined"></div>
</div> -->
<div [style.height]="height" *ngIf="data === undefined || gridConfiguration === undefined">
  <div class="loader4 loading" style="left: 57% !important;"></div>
</div>
<app-custom-grid *ngIf="data !== undefined && gridConfiguration !== undefined" [data]="data"
  [gridConfiguration]="gridConfiguration"></app-custom-grid>