<div id="wrapper" class="wrapper" *ngIf="language !== undefined">
  <div class="fxt-template-animation fxt-template-layout5 has-animation active-animation loaded">
    <div class="fxt-bg-img fxt-none-767" data-bg-image="../../../assets/img/login/background.jpg"
      style="background-image: url(&quot;../../../assets/img/login/background.jpg&quot;);">
      <div class="fxt-intro">
        <div class="sub-title">{{language.welcomeBack}}</div>
        <h1>{{language.bciText}}</h1>
        <p>{{language.welcomeMessage}}</p>
      </div>
    </div>
    <div class="fxt-bg-color">
      <div class="fxt-header">
        <a class="fxt-logo"><img src="../../../assets/img/login/logo-5.png" alt="Logo"></a>
        <div class="fxt-page-switcher">
          <a routerLink="/login" class="switcher-text switcher-text1">{{language.signIn}}</a>
        </div>
      </div>
      <div class="fxt-form">
        <form (ngSubmit)="changePassword(change)">
          <div class="form-group fxt-transformY-50 fxt-transition-delay-3">
            <input type="{{passwordType}}" class="form-control" [(ngModel)]="data.password" name="password"
              placeholder="{{language.password}}" required="required">
            <i class="{{passwordIcon}}" (mousedown)="showPass()" (mouseup)="hidePass()" style="cursor: pointer;"></i>
          </div>
          <div class="form-group fxt-transformY-50 fxt-transition-delay-3">
            <input type="{{passwordType}}" class="form-control" [(ngModel)]="data.confirmPassword"
              name="confirmPassword" placeholder="{{language.confirmPassword}}" required="required">
            <i class="{{passwordIcon}}" (mousedown)="showPass()" (mouseup)="hidePass()" style="cursor: pointer;"></i>
          </div>
          <div class="form-group fxt-transformY-50 fxt-transition-delay-4">
            <button type="submit" class="fxt-btn-fill">{{language.changePassword}}</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>