<app-dynamic-dialog [modal]="modal" [modalSettings]="modalSettings">
    <div class="row" style="text-align: center;">
        <div class="col-md-6 col-sm-12 event event-life">
            <img src="../../../../assets/img/life_event.png" style="width: 220px; display: inherit; margin: auto">
            <div>
                <h3>{{language.lifeEventCreateLifeEventTitle}}</h3>
                <h6>{{language.lifeEventCreateLifeEventText}}</h6>
            </div>
            <button class="btn btn-danger" (click)="navigateToCreateLifeEventPage()">{{language.lifeEventCreateLifeEvent}}</button>
        </div>
        <div class="col-md-6 col-sm-12 event event-virtual">
            <img src="../../../../assets/img/live_streaming.png" style="width: 326px">
            <div>
                <h3>{{language.lifeEventCreateLiveStreamingTitle}}</h3>
                <h6>{{language.lifeEventCreateLiveStreamingText}}</h6>
            </div>
            <button class="btn btn-danger" (click)="navigateToCreateVirtualEventPage()">{{language.lifeEventCreateLiveStreaming}}</button>
        </div>
    </div>
</app-dynamic-dialog>