.looking-offer-title {
    font-size: 12px;
    font-weight: bold;
    color: #000;
    margin-bottom: 0px;
    padding-bottom: 0px;
}

.looking-offer-text {
    font-size: 12px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #000;
    margin-bottom: 0px;
    padding-bottom: 0px;
}

.searchByParams {
    width: 100%;
    padding: 3px;
    margin: 10px 0px;
}

.italic {
    font-style: italic;
}